# DTSC670: Foundations of Machine Learning Models

## Assignment 2: California Housing Prices Data Manipulation

### Name:


## CodeGrade
Note that this assignment will be automatically graded through CodeGrade and you will have unlimited submission attempts.  When submitting to CodeGrade, your notebook should be named `assignment2.ipynb` and there should be no errors in the file or CodeGrade will not be able to grade it.  Before submitting, I suggest that you restart your kernel and attempt to run all cells again to ensure that there will be no errors when CodeGrade runs your script.  

## Details

The purpose of this assignment is to hone your data wrangling skills.  It has been estimated that up to 80% of a Data Scientist's role is data cleaning and manipulation tasks to get the data ready for modeling/machine learning.  Your task for this assignment is to perform the data preparation steps as instructed below. 

In the "End-to-End Machine Learning" module, you will be working with the California Housing Prices dataset that is based on data from the 1990 California census.  This dataset is often used to practice building a model to predict housing prices.  I have downloaded the original data and made various changes to it.  Your job will be to clean and manipulate the data to get it back to the proper format.  

*Note that your final dataset will <b>not</b> match the dataset that we will use in the class module.  This is on purpose so that students cannot download the data from various online sources and pass it off as their "cleaned" data.* 

### Files and Data Dictionary

The files that you will be working with, and that can be found on Brightspace, are:

- <u>long_lat.csv</u>: longitude and latitude coordinates for all instances
- <u>cal_housing_low.csv</u>: instances with median house values in the lower 25% percentile
- <u>cal_housing_medium.csv</u>: instances with median house values between the lower and upper percentiles
- <u>cal_housing_high.csv</u>: instances with median house values in the upper 75% percentile
- <u>ocean_proximity.csv</u>: longitude and latitude coordinates along with their corresponding category 

The data dictionary for the columns in the files are:

- <u>id</u>: unique ID number for the respective district (also called block groups)
- <u>longitude</u>: longitude coordinates for the respective district
- <u>latitude</u>: latitude coordinates for the respective district
- <u>state</u>: US state for the respective district 
- <u>medianHouseValue</u>: median house value in the respective district (this will be the target or response variable)
- <u>housingMedianAge</u>: median house age in the respective district
- <u>totalBedrooms</u>: total bedrooms for all houses in the respective district
- <u>totalRooms</u>: total number of rooms for all houses in the respective district
- <u>households</u>: total households for all houses in the respective district
- <u>population</u>: total population for all houses in the respective district
- <u>medianIncome</u>: median income for households in the respective district
- <u>ocean_proximity</u>: categorical variable for each respective longitude and latitude pair  

### Data Cleaning
In order to clean the data, you will need to perform the following steps, although not necessarily in this order:
- Make sure that your notebook is organized and that you include specific comments that explain your code.  Assignments will be manually checked at the end of the course and points may be deducted for insufficient comments. (see Assignment Rubric)
- Use only base Python, Pandas, or NumPy for this assignment.  
- Combine the files together, as appropriate, so that you have one final DataFrame
- The final DataFrame must be named `housing`
- Sort the final `housing` DataFrame by `id` in ascending order
- Drop any rows with a missing value for the `medianHouseValue` column
- Fill any rows with a missing value for the `housingMedianAge` column with the median value for that column
- Drop the `state` column since it doesn't offer any added value
- In order to match the data that will be worked on in class, you will make the following changes to the values:
  - Scale the `medianIncome` to express the values in $10,000 of dollars (example: `150000` will become `15`, `30000` will become `3`, `15000` will become `1.5`, etc)
  - In your textbook, it discusses that the median income values have been capped on both the lower and upper ends.  In order to recreate this data, change any values in the `medianIncome` column that are `0.4999` or lower to `0.4999` and change any values that are `15.0001` and higher to `15.0001`.  This step should be done after the previous step.  Take a look at [this stackoverflow answer](https://stackoverflow.com/questions/38876816/change-value-of-a-dataframe-column-based-on-a-filter) if you need help with this step.
  - Revert the `medianHouseValue` back to actual dollars (example: `150` will become `150000`, `300` will become `300000`, etc)
- Update the column names and column order as shown below to match the data from the module:
  - longitude
  - latitude
  - housing_median_age
  - total_rooms
  - total_bedrooms
  - population
  - households
  - median_income
  - median_house_value
  - ocean_proximity
- Change all columns to a float data type except for the `ocean_proximity` column.  The `ocean_proximity` column should remain a string/object data type (do not update this to a categorical data type since that will be done later when working with the module data).
- Reset the DataFrame index so that it goes from `0` to `n-1`, where `n` is the number of rows in your DataFrame

In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', 20)

In [2]:
#combine first 3 files to house_prices
price_file_names = ["cal_housing_high.csv", "cal_housing_low.csv", "cal_housing_medium.csv"]

house_prices = pd.concat([pd.read_csv(price_file_name) for price_file_name in price_file_names],)
house_prices

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0
...,...,...,...,...,...,...,...,...,...
10319,21493,CA,193.800,14.0,247.0,1322.0,232.0,898.0,19327.0
10320,21494,CA,187.503,39.0,110.0,575.0,110.0,260.0,37500.0
10321,21500,CA,123.400,21.0,222.0,1142.0,213.0,463.0,31534.0
10322,21502,CA,137.503,35.0,78.0,374.0,88.0,208.0,38750.0
10323,21546,CA,162.500,5.0,66.0,362.0,61.0,173.0,30000.0

In [3]:
#combine house_prices with long_lat.csv to house_with_location_data
houses_lat_and_lon = pd.read_csv("long_lat.csv")

house_with_location_data = pd.merge(house_prices, houses_lat_and_lon, on="id")
house_with_location_data

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85
...,...,...,...,...,...,...,...,...,...,...,...
21553,21493,CA,193.800,14.0,247.0,1322.0,232.0,898.0,19327.0,-121.92,38.57
21554,21494,CA,187.503,39.0,110.0,575.0,110.0,260.0,37500.0,-121.90,38.72
21555,21500,CA,123.400,21.0,222.0,1142.0,213.0,463.0,31534.0,-122.21,38.83
21556,21502,CA,137.503,35.0,78.0,374.0,88.0,208.0,38750.0,-122.00,38.73
21557,21546,CA,162.500,5.0,66.0,362.0,61.0,173.0,30000.0,-121.32,39.13

In [4]:
#combine ocean_proximity.csv with house_with_location_data to housing
ocean_proximity_lat_lon = pd.read_csv("ocean_proximity.csv")

housing = pd.merge(house_with_location_data, ocean_proximity_lat_lon, on=["longitude", "latitude"],)
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
3,122,CA,335.003,38.0,56.0,334.0,51.0,102.0,49643.0,-122.24,37.85,NEAR BAY
4,125,CA,391.102,54.0,367.0,2614.0,367.0,903.0,72354.0,-122.24,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21493,CA,193.800,14.0,247.0,1322.0,232.0,898.0,19327.0,-121.92,38.57,INLAND
21554,21494,CA,187.503,39.0,110.0,575.0,110.0,260.0,37500.0,-121.90,38.72,INLAND
21555,21500,CA,123.400,21.0,222.0,1142.0,213.0,463.0,31534.0,-122.21,38.83,INLAND
21556,21502,CA,137.503,35.0,78.0,374.0,88.0,208.0,38750.0,-122.00,38.73,INLAND
21557,21546,CA,162.500,5.0,66.0,362.0,61.0,173.0,30000.0,-121.32,39.13,INLAND

In [ ]:
#Sort the final housing DataFrame by id in ascending order
housing.sort_values(by='id', ascending=True, inplace=True)
housing

In [6]:
#Drop any rows with a missing value for the medianHouseValue column
housing.dropna(subset=['medianHouseValue'], inplace=True)
housing.head()

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
6,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
7,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY

In [7]:
#Fill any rows with a missing value for the housingMedianAge column with 
#the median value for that column

#the median value for housingMedianAge
median_house_age = housing['housingMedianAge'].median()
median_house_age

31.0

In [8]:
#Fill any rows with a missing value for the housingMedianAge column with `median_house_age`
# housing_3=housing_2.fillna()

housing['housingMedianAge'] = housing['housingMedianAge'].fillna(median_house_age)
housing['housingMedianAge'].value_counts()

31.0    1578
37.0     700
36.0     636
38.0     627
19.0     602
35.0     587
20.0     566
39.0     563
34.0     552
18.0     541
33.0     528
17.0     519
27.0     484
28.0     481
21.0     481
30.0     480
26.0     476
29.0     476
32.0     469
40.0     450
22.0     449
25.0     445
23.0     422
16.0     421
24.0     413
41.0     363
52.0     359
42.0     344
15.0     337
44.0     315
43.0     313
53.0     293
47.0     293
45.0     292
46.0     281
14.0     278
54.0     258
55.0     251
56.0     241
13.0     239
12.0     235
48.0     226
11.0     215
8.0      199
49.0     192
9.0      189
50.0     186
10.0     172
7.0      162
51.0     135
6.0      120
5.0      111
4.0       61
3.0       23
2.0       11
Name: housingMedianAge, dtype: int64

In [9]:
#Drop the state column since it doesn't offer any added value

housing= housing.drop('state', axis=1) 
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
6,4,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
7,5,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
11988,21554,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
13786,21555,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
13787,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
13788,21557,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
13789,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [10]:
#In order to match the data that will be worked on in class, 
#you will make the following changes to the values:
####Scale the medianIncome to express the values in $10,000 of dollars 
####(example: 150000 will become 15, 30000 will become 3, 15000 will become 1.5, etc)
housing['medianIncome'] = housing['medianIncome'].div(10_000)
housing['medianIncome']

0        8.3252
1        8.3014
2        7.2574
6        5.6431
7        3.8462
          ...
11988    1.5603
13786    2.5568
13787    1.7000
13788    1.8672
13789    2.3886
Name: medianIncome, Length: 20640, dtype: float64

In [11]:
####In your textbook, it discusses that the median income values have been capped on both the lower and upper ends. 
#In order to recreate this data, 
#change any values in the medianIncome column that are 0.4999 or lower to 0.4999 and 
#change any values that are 15.0001 and higher to 15.0001. This step should be done after the previous step. 
#Take a look at this stackoverflow df['Purchase'] = np.where(df['Dollars spent on the website'] > 0, 1, 0answer if you need help with this step.
housing['medianIncome'] = housing['medianIncome'].clip(lower=0.4999, upper=15.0001)
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,452.603,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
1,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
2,3,352.104,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
6,4,341.300,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
7,5,342.200,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
11988,21554,78.101,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
13786,21555,77.102,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
13787,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
13788,21557,84.701,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
13789,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [12]:
####Revert the medianHouseValue back to actual dollars (example: 150 will become 150000, 300 will become 300000, etc)
housing['medianHouseValue'] = housing['medianHouseValue'].mul(1_000)
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
1,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
2,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
6,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
7,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
11988,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
13786,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
13787,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
13788,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
13789,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [13]:
#Update the column names and column order as shown below to match the data from the module:
#longitude
#latitude
#housing_median_age
#total_rooms
#total_bedrooms
#population
#households
#median_income
#median_house_value
#ocean_proximity

housing = housing.rename(columns={'longitude': 'longitude',
                  'latitude': 'latitude',
                  'housingMedianAge': 'housing_median_age',
                  'totalRooms': 'total_rooms',
                  'totalBedrooms': 'total_bedrooms',
                  'population': 'population',
                  'households': 'households',
                  'medianIncome': 'median_income',
                  'medianHouseValue': 'median_house_value',
                  'oceanProximity': 'ocean_proximity',
                 })
housing

,id,median_house_value,housing_median_age,total_bedrooms,total_rooms,households,population,median_income,longitude,latitude,ocean_proximity
0,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
1,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
2,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
6,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
7,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
11988,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
13786,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
13787,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
13788,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
13789,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [14]:
#column in order
housing = housing.reindex(columns=[
                       'longitude', 
                       'latitude', 
                       'housing_median_age', 
                       'total_rooms', 
                       'total_bedrooms', 
                       'population', 
                       'households', 
                       'median_income', 
                       'median_house_value',
                       'ocean_proximity',
])

housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
6,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
7,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
11988,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
13786,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
13787,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
13788,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
13789,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [15]:
#Change all columns to a float data type except for the ocean_proximity column. The ocean_proximity column should remain a string/object data type (do not update this to a categorical data type since that will be done later when working with the module data).
housing = housing.astype({'longitude':'float', 
                              'latitude':'float', 
                              'housing_median_age':'float',
                              'total_rooms':'float', 
                              'total_bedrooms':'float',
                              'population':'float', 
                              'households':'float',
                              'median_income':'float',
                              'median_house_value':'float'})
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
6,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
7,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
11988,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
13786,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
13787,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
13788,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
13789,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [16]:
#Reset the DataFrame index so that it goes from 0 to n-1, where n is the number of rows in your DataFrame
housing.reset_index(inplace=True, drop=True)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
20636,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
20637,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
20638,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
20639,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND